# Node modules
node_modules/

# Archivos generados por Tailwind CLI
Public/output.css
tailwind.css
tailwind.min.css
*.tmp

# Logs de npm
npm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Configs de editores
.vscode/
.idea/

# Variables de entorno
.env

